{% extends 'mainapp/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% if cart.products.count %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Наименование</th>
          <th scope="col">Изображение</th>
          <th scope="col">Цена</th>
          <th scope="col">Кол-во</th>
          <th scope="col">Общая цена</th>
          <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for product in cart.products.all %}
        <tr>
          <th scope="row">{{ product.product.title }}</th>
          <td class="w-25"><img src="{{ product.product.image.url }}" alt="product-image" class="img-fluid"></td>
          <td>{{ product.product.get_discount_price }} ₽</td>
          <td>
            <form action="{% url 'change-qty' slug=product.product.slug %}" method="POST" class="d-flex">
              {% csrf_token %}
              <input class="form-control me-3" id="inputQuantity" name="qty" type="number" value="{{ product.qty }}" min="1" style="max-width: 5rem" />
              <input type="submit" class="btn btn-outline-dark" value="Изменить кол-во">
            </form>
          </td>
          <td>{{ product.final_price }} ₽</td>
          <td>
            <a href="{% url 'delete-from-cart' slug=product.product.slug %}">
              <button class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Удалить из корзины
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2"></td>
          <td>Итого: </td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} ₽</strong></td>
          <td><a href="{% url 'checkout' %}">
            <button class="btn btn-outline-dark">
              <i class="bi-cart-fill me-1"></i>
              Перейти к оформлению
            </button>
          </a></td>
        </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}