<!doctype html>
{% load static %}
<html lang="en">
<head>
	<title>Подписка на спам</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'contact/css/style.css' %}">

</head>
<body>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Оформите бесплатную подписку на рассылку спама</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-12">
				<div class="wrapper">
					<div class="row justify-content-center">

						<div class="col-lg-8">
							<div class="contact-wrap">
								<h3 class="mb-4 text-center">Введите немного своих данных</h3>
								<div id="form-message-warning" class="mb-4 w-100 text-center">error</div>
								<div id="form-message-success" class="mb-4 w-100 text-center">
									Спасибо за подписку на наш спам! Мы будем присылать его вам раз в день
								</div>
								<form action="{% url 'subscribe' %}" method="POST" name="contactForm" class="contactForm">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												{{ form.name }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												{{ form.email }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Подтвердить" class="btn btn-primary">
												<div class="submitting"></div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{% static 'contact/js/jquery.min.js' %}"></script>
<script src="{% static 'contact/js/popper.js' %}"></script>
<script src="{% static 'contact/js/bootstrap.min.js' %}"></script>
<script src="{% static 'contact/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'contact/js/main.js' %}"></script>

</body>
</html>

